Source: xmcr
Section: user/network
Priority: extra
Maintainer: Simon Pena <spena@igalia.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: https://gitorious.org/spena-playground/xmcr

Package: xmcr
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: XMCR is a XKCD MeeGo Comic Reader
 XMCR aims to be your application of choice to review the XKCD strip.
 You can use it to navigate through the strip archive, check the
 alternative text, and view random entries
XB-Maemo-Display-Name: XMCR: XKCD MeeGo Comic Reader
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB9sJGhQcKTlzXVsAABhdSURBVHja
 7Vx7cFPXmf/de3X1smRZkiXbssGAbYwBu7UdGwgEwmNxCCY0JRugCZky7Zik6STZDNudDemWSR/b
 dlJod6bJNNtuk3TTZRKSGDKFhKd5GGzABmN7/cYYLGRhy5ast+5r/6jvXcmSja8haR49M2c8Y517
 Hr/zfd/5XucAfy93VYjPesCPPvpIy/N8sVKpnAcgiyRJK0EQFpIkLRRF6QBAEAQ1QRB09HeCIDAE
 QYQAgOM4H8/zg4IgDAqC4BQEwR6JRNpJkry8YcOGwJcGwOrq6kUqleohiqKWKJXKWSRJppEkaeB5
 nuA4DoIggOf5mL9TmjRBgCTJmL8URYEkSYHneQ/HcU6WZXs5jjsfiUQOP/LIIxe/EAAeOHBAT9N0
 lUql+kelUrkQQBLLshArx3Hgef5TpQiSJEFRFBQKhVQB+CORSEsoFHqXZdn/3Lhxo/dzBeDBgwfX
 JSUlvaxUKks5jlNFIhFEIpFPHSw5oCqVSiiVSlAUFQ6FQpfC4fCPKysrP/mbAviXv/xlk1qt/pFS
 qVwYDAaJcDg8ZTb8mwl9goBKpYJGoxEYhmkOh8O7161b9+FnCuCBAweKNBrNf9M0XRgMBsEwzOce
 uERA0jQNjUYDlmWv+v3+J7/xjW80f+oAHjp06FWNRvNsKBRSh0KhLxxwiYBUq9VQqVQhv9//Hxs2
 bPiXTwXAd999V6PT6Y7QNL3M5/OB47gvlT5HURR0Oh0YhjntdDortm/fHrpnAH7wwQdmrVZ7ShCE
 BT6f7wtPdZNRo06nA4Bmu93+4He/+93huwZwz549mrlz514RBGGu3+//SlgXSUlJIEmyraenp/i5
 554LT9ZWcafOcnNzD/M8P9fn831lzDOv1wudTlcwe/bsjwGsnDYFvv/++z9TKpX/Ojo6+qVl28nY
 OTk5GSzL/vjRRx/9N9kA7tu3b6FOp2vweDzKz0IhpigqWtlN2IbjOIhK+mdxiFEUBYPBEA4Gg6WP
 PfZYqywW1mg0+wKBgJJl2Xs6KYVCgdTUVFgsFuh0Omg0GpjNZmg0Gln9BINBuFwuBINB+Hw+DA4O
 YmhoCPdyvjzPw+/3q2ia/h8ARVOmwHfeeecprVb7lsfjuSesq9FokJ2djRkzZiA9PX1CCrvbwnEc
 BgYGcPPmTfT19SEYDN4TVjYYDAgEAlufeOKJfVMC8IMPPmj3+/35kUjkrgY3GAwoLCxETk5OHGg8
 z8Pn88Hr9cLv98Pv9yMUCiEQCIBhmIT90TQNs9mMr3/96wAgWUA0TYMgiDgwe3p60NzcDI/Hc1fr
 UCqV0Gg0rY899tjCOwL45z//eQNN0wfdbve0B6RpGsXFxViwYEEMcCMjI+jv74fdbofT6ZwQqMmK
 zWbDww8/nPA3QRDg9/tFXU4CsrW1FY2NjXfF3ikpKQiFQuu2bdv28aQykCTJnYFAYNqelOTkZKxd
 uxYmk0laVHd3N1paWjA4OBi34JGREWRnZyM5ORkOh+OO4yYlJU3KbpFIBGfOnIHNZsOcOXNAURSK
 iopgs9lw9OhReL3T82QFAgEolcqdAD6ekALfffddHYCh4eFh1XRkn9Vqxdq1ayUKcDgcqK2txdDQ
 UEw7lmXh9/tRWFiIlStXSgfI9evXcf78+QlZjuM4LF68GKWlpXA6nUhLS0vY7sqVK+js7ARJkli6
 dCkyMjIk/e6TTz6Jm89UZaHRaAy53W7zjh07JK93jGB65JFHnmFZtlJ0EsipBoMBlZWVEoVcvHgR
 J06cgN/vj2nHMAyCwSB27tyJ/Px80DQdwyaZmZkYHh6G1+uNGyMcDqOoqAhmsxm9vb1gWRbJyclx
 izUajXA4HBgaGkJraysIgoDNZoNKpcKMGTPQ29uL6axRoVAoSJK0V1dXX5I4dtzYm0KhEHiel1Up
 ikJFRQW0Wi0AoKamBvX19ZIHmud5jI6Owmg0YsWKFVAoFBNSgclkQkVFBQoKCkCSZMw44XBYAoxh
 GDQ3NyMUirf5VSoVCgoKYDAYwHEc6urqcOrUKQCAXq9HRUVFXN9TqcFgECRJbo4ReePGLg6Hw7I7
 vu+++2A2myXKu3r1asygJpMJ27dvx9atWyEIAjIyMnD16tUJ2UWtVuOBBx5AWVkZVCpVDIB6vV4C
 MBAI4Pjx4wn7mDlzJiwWC/R6PXieR1NTExoaGgAAFosFpaWlstcZDodBkmRxQgBff/31Yo7jdGKw
 Z6o1JSVFUitu3bqF8+fPx/zOsiy2bNkiySuPx4NAIICurq47WgGlpaXSgSQIAjiOk6hcDBm0tbVh
 eHg4ocwqLCyE0WgESZIQBAHnzp2Dw+H4K6UUF8NgMMhaK8dx4Dgu+a233iqKA1CpVD4iTkpOLSkp
 AUVREAQBJ06ciGFbnucxa9YskCQpnWQejwc+nw/Dw8MS+0128mZnZ6OiogLZ2dkx6gnDMOA4DhRF
 4dChQwm/NRqNmDFjBsxmM3ieB8uyOHnypCjPUFJSMi0qZFm2Mg5AgiCWyAVQq9WioKAAANDR0QGn
 0xnzO0EQ0gkIAAMDAwgEAmBZFhqNBpcvX5Z+a2xsnFAvtFgseOihh7By5co4AHmeR39/P7q7uxN+
 O3/+fBiNRkkUOBwOifoLCgqgVqtlrZlhGJAkeX8cgDzP58gFMC8vT1KUL126lLBNVlaWtJjbt2/D
 6/VKv7W3t4u6JwiCwPHjxzGRAq9Wq1FWVibpj2KoVDzEPvkkcYBNpVJh7ty5sFqt0riiLFQoFMjN
 zZW15jGMcuMAFAQhjWEYWZ3Nnj0bABAOhzF37ty4k41hGMyYMUOiGJfLFQPgzZs3JfZNT08HwzB4
 ++23J6Qm0VxjWVaSSdGn/KVLlxJ+N2vWLJhMJhgMBvA8jxs3bkhyMycnRzYFCoKQHgPg73//e5Mg
 CLrx8muyStM0srOzpV0uLy/H9773PcyePVvKNDCbzVCpVBL1+Xw+RJ/yFEVJ7GS1WkHTNJRKJfbv
 34+zZ89O6jQQgRT7AoDjx4/HuLlYlkVfXx/Onj0Lt9stzYvneWmTsrOzQVHUlNc9liCQ/Itf/EIv
 mXIsy5YyDEPIMd9sNpt0OER7XR5//HE4HA4cOXIkxlJwOp0YHR2NOzBaW1uRn58PiqJgtVoxMjIC
 l8uFmpoa3Lp1C5s2bUroiBD/RvfHcRyOHTuG8vJy9Pf3o7+/Hy6XCy6XC+M96n19fSgvLwdFUbDZ
 bOjt7Z3y2hmGIXQ63X0ATirGJjJX3M2plujDIdFvTz31lDRpnudx+/ZteDyeuDGuXbsW811/fz8I
 ggDP8+jo6MAbb7yBbdu2xZzAYh+JUkUaGxvR0NCAtLQ0eDweTBTHuXnzJgRBkA66np4eOQBCoVDk
 AzhJjsm/DDnsy/M8jEYjACS0BER5JSq9Xq8XgUAAfr8/rh+XyyUt0mq1QqlUSsqvCPxrr72Gmzdv
 xrFwojlHIhEwDIP+/v4YeTu+er1ejIyMSNaPnLWPqU8ZkgzkOM4aLU+mUlNSUiQA70S5BoMBDz74
 IDIyMuL6USqVklVCURQsFkvcgvx+P958803pkBAzueRueqLNE+cn57uxQ8wqyUCe581yM6dE062z
 sxPNzc1Ys2YNZs6cGefYjLZxq6qq0NXVherqaoyOjkq/tbe3Y8mSJQCArKws2O12kCQZ47+LRCI4
 ePAg7Ha75Cq722wvUWUSFW05nm+GYczR/kCjHBlIUZTkdRkdHcW1a9fwhz/8AfPmzcOaNWtgtVon
 /DYvLw87d+5EfX09jhw5gnA4HCN/LBYL1Go1jEYjnE5n3PcXLlyQ9MKJxIec8CUASb5Odf0sy4Ig
 CKPEwjzPa+Wwg1qtljoT5RrDMGhpacGZM2em5FtbvHgxXnrpJaxatUrSCUWlOisrC6mpqZPOQXT6
 3k0VDzkxY0smG2slCuQ4jhqvEkxWEgEo6oPRp7PD4YDVap0wiKRQKLB69WqUlZXFWCA2mw09PT3Q
 arW4m4C+uLFiuFRUwKPnHr2mqXqrxxwuimgWVsgBMFr/G59IKVonoo53+PBhVFRUIDMzc9IwwFgQ
 Gz09Pejr64PP55PUGTlFVJa/9rWvoaysDDk5OVCpVHC73WhsbMSxY8ckmzs6aCYq01PdGJ7nldEU
 SMsRyNEAiuafGK9IT0+XJuf3+9HW1ob29nYsW7YMq1evThjT8Hq9uHHjhqT4Xr9+XToh5QCnVqux
 atUqrFixIsbTLXq7V61ahbS0NPzxj3+UvOPRa5IDIMdx/0+BBEEoRJ/XVA+RaIEqKqTZ2dnSKex2
 uxGdBldTU4PLly9j48aNKCoqAkmS8Hg86OzsxK1bt+B0OmG322UHfTiOg9FoxLp161BeXg6CICTV
 SjQjo8uCBQtQWlqKixcvxpzyos9wqgCKtwgU0SaRnB0YR85S8DxaRRhveYyMjOCtt97CvHnzUFhY
 iMHBQdjtdvT19SEcDssCjmVZWCwWbNy4UXLo9vb2oq+vD16vFwRBoKCgADk5OXHfrlixAvX19TFz
 E1l/qusXwRZZmJUD4ESkHy3/PB5PQttXlI1i1EwucDzPo7CwEKtXr0ZuruRVgt1ux4ULF9DV1QWX
 ywWO49Dc3Izvf//7kkUklrS0NOmKRCJRNBVxwXEcE32IMHJ2IBGAer0+xnkwOjo6IYCiC2w6JTc3
 Fzt27Ij7f1paGq5cuRIjAux2O06fPo3169fHiSCTyRQjiuQAOEaBbLQpx8p1KkarIgAwZ84cSf4x
 DAOfzycBeC9rX19fwoieQqHAypUr49ofOXIkztMtGg3i3MUNlTmXiASgIAiMnI+jdzkpKQk0TcNq
 tUIQBDidTjQ0NMDn80GufR1dRRmTKLR4+PDhhJSxdOlSSfWJjmHcunUrpp3D4UA4HI7RCCZzPCSa
 m0iB4haE5LCwmHBJEAS0Wi28Xi9u376N/fv3S1Ry48YNWTqcIAigKAr5+fnIy8tDZmYmgsEg3nvv
 PTGQI7U9f/48Vq9eDZvNFpf2cf/990sxYPGUjmbVSCSC5uZmDA8PSxE+kSjknMIAAtEAuuTYgqKH
 RKfTSYHuY8eOISMjAwMDA7JT4kpLS7Fq1Srk5eXFOWm9Xi9aWlrQ1tYWA8Lhw4fxne98J66vtWvX
 4tSpU9BoNKBpGjk5OTFxGdGLQ1GUNHev1ys7YZPneVe0GuOSQ4FihC03N1eyWUWhLUd/Kykpwbe+
 9S1YLJZJXWHJyclxc6uvr8eGDRviHBcWiwUVFRUIhUIoLy9HXl5eXJBpw4YNmDNnjmSSitFEOdxC
 EIQrWpEelEOBADA0NITc3Fwp2iW3bN68WUpT4zgO169fl5KKrFYrMjMzpeRGo9EYN0YkEsHRo0fx
 xBNPxPW9adMmSZXieT6OqkWFWtQEhoaGZK+B47hBCUBBEAZEZKdaRMFssVig1Wox1SsQPM9jy5Yt
 EngMw6C2thYulwsNDQ0SFWdlZeG5555DJBKBSqWCWq2OyzitqanB+vXrJedudKmrq4PT6YRWq0VJ
 SYnkvxxPjSLnyBU7BEEMRAeV2uUa7h0dHZIrKC8vD42NjVP6rqioKEYv6+zshNfrRW1tbUz+4I0b
 N7Bz505oNBqkp6cjGAzGzS8UCuHcuXMJEy71ej1+97vfQaFQoKurC0uXLsX8+fPjbGRxLXLWPnY/
 +X8lNYZl2QsEQQhy1Izu7m5J8Obn5085lrBly5Y4lcLlcsVlNUS783t6eiZUiT766KOEjtWCggLo
 9XoEAgHU1tbiT3/6Ew4dOoTbt28jmttED5CctRMEIQC4JAH4y1/+0kuSpDeR3jWZQ1PMLCgpKYmJ
 uU5UZ82aJQXaoxXY4eHhaeuLbrcbV65cSegx2rx5s9TObrdj//79eOedd9DS0iIZA21tbZCT0jfW
 t2f37t2BmMwEkiQH5ADI87zkXk9PT79jhF8QBBQVxd8UoGn6roNDBw4cSMiC5eXl0gkuWlB1dXU4
 c+aMJP/q6urkUp+E1fjkol65SYe1tbXSTlZWVk7aliTJhII8JSUFOp3urgDs7u5OGBinaRpVVVVx
 7cUcm3A4jPPnz8saiyRJkCTZEwcgRVGn5QI4MjKC06dPAwDKysowc+bMSXNKokMB0XnVoh54NyAe
 PXo0ocAvKSmJmdesWbNQWloKADh58qSk6sgBkKbpU3EAkiR5QE6OiFg//PBDsCwLkiRRVVU1IRAs
 yyZ0lmZmZiIpKQlZWVl3BeDx48fjVCmO42C325GZmSmxX1VVFQiCAMMwEuvLBVChUByMSzKvra0d
 XLRo0T/5/X51lMF8xzo6OgqFQoGFCxciNTUVFEWhqakpYVubzYaSkpI41xLHcQiFQujo6LjjeBaL
 BeKd5fHZo/PmzUNmZiZCoRA6Oztx+fJlNDU1oaurC8PDw9i2bRuWLVsGAHjvvffismnvVMcuILr3
 7t37zwmz9BctWvRwIBDIFt30U61tbW1YsmQJDAYD5s+fD7fbjc7Ozrh2LpcL69evj4vSpaSkwOPx
 oL+/H+L1skRVqVTijTfegMPhgFarxeDgYMzvoVAIZrMZjY2NuHTpEk6ePIlLly5heHgY69evx7Zt
 2wAA3d3d2Lt3L+SmM9M0jeTk5PqLFy++mRDA5cuX08FgcMN0vMSXL1/GsmXLoNFoUFZWBrVajaam
 pph2gUAACxYsiEtMIkkSJpMJHMeho6NjQsO+qqoK8+fPh8lkglarRVdXV4xvcmBgAAzDoKamBq2t
 rfD7/SBJEtu3b8eTTz75V6+Jy4Uf/vCH0wqXJiUlwWQyvXLu3LkrCQG87777WgC8GAgEaLmd+3w+
 NDU1YdGiRdBoNCgoKEBxcTF6enqkJB7RBFyzZk1cCoharUZGRgZUKpWUeEnTNFJTU2Gz2bBjxw4p
 CN/a2gqv14umpqa4uMb169clky8nJwe7du2S2NblcuGVV16R5fSI3mSDweBnGOaJhoYGadC4RJZn
 n332lNPpXD7dtIn09HS8/PLLUoBJEATU19ejuroara1/vXK7Y8cOVFZWThgu6O7uRkdHBwKBACwW
 C5YsWSKlX7S2tuLatWs4deqUZE6OLwsXLsSjjz6KsrIyaaN6e3vxk5/8RLJE5Ba1Wo20tLTjv/3t
 b9fEmHXjGz7//PPLh4eHa9xuNzHdq640TWPr1q345je/GSPvHA4H6uvr0dLSgnXr1knqxFRdSG1t
 bejp6UFLSwvOnTsn/WY0GpGXl4fCwkIsXrxYik2LJ/H777+Pffv2Tetyo2j7Go1GITU1ddmePXvO
 TQogADz99NNXBwcHC6cb+IlWUTZu3IhVq1YljNF6vV4oFAqoVKqELqfoCN+NGzcwOjoKh8OBSCQC
 s9mM9PR0ZGZmIjU1NWHQ6sSJE6iuro5z6cstKpUKVqv1yuuvv14cB26iD1588cWnbt++fc8uXBsM
 BixbtgxLly5FQUFBTDDnXhaWZdHW1oazZ8/i7NmzMSl00y2iT9JisWzdu3fv1C5cA8AzzzxTPzQ0
 VH4vbn2P3838/Hzk5+fDZrMhPT0d6enpSElJmTKwLMvC7XbD4XBgYGAADocD7e3t6OzsxN1yzfii
 0WhgsVjOv/baa/cnTJCahGo2h0Kh1kgkor2XDzyEw2FcvXo14V05Mckokckn+v88Hs+07/zKLWOv
 Gfn1ev2WCSl0sg5eeOGFnw0ODn6lnz1JS0v78Z49eyZ89mTS1x/q6uqOL1++vJTjuPzpnmBfVPD0
 ej3MZnP1b37zm6cn1Q/v1NmKFSseNZlMjWIM9atQtFotjEbjBbPZvOmOCvadGjz++OOcUqn8B5PJ
 dFWv10+YRP5lojyj0dikVCrX7d69+46Bkik94FJXVxesrKx8Q6FQzOV5fiHDMMSXTSaOBdoFq9X6
 dmpq6sM///nPp/QasGxyeuGFF3Z5PJ6XfD6f9sv0AKNer/cnJyf/9Ne//vW/y/p+OoP+4Ac/sAUC
 gf8aGRlZGwwGiS/yE6BarVZITU392GKxbN+1a5dTdj93M4kXX3xxk9/v/5Hf718YCoW+UI/QqtVq
 Qa/XNyclJe1+9dVXP9tHaBOw9bpQKLQrHA6XhsNh9ef5GWSVShXSaDQXNRrNT3/1q1/9bZ9BHl++
 /e1vq41G41ORSOTxUChUHIlETJ+Hh7iVSqVLpVJdVqlU+0ZGRt558803Q/eMoj/NxTz//PP5ADYx
 DPMAz/OzGYZJYxgm5in46GfgRfafSAyIKhRBEDHPwEc/BU/TtEehUDgpirpG0/QpiqI+3LNnT+en
 JhI+a3bavXu31u12FxMEMY/juCwAVo7jLDzPWwiC0I358NQAxnvFGYqiQmMA+0iSHKQoapAgCCdJ
 knZBENpTUlIuixkDfy9fkPJ/7bRELOgtz4wAAAAASUVORK5CYII=
