Source: xmcr
Section: user/network
Priority: extra
Maintainer: Simon Pena <spena@igalia.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.4
Homepage: https://gitorious.org/spena-playground/xmcr

Package: xmcr
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: XMCR is a XKCD MeeGo Comic Reader
 XMCR is a XKCD MeeGo Comic Reader
